<div class="container-fluid text-center mt-4" *ngFor="let user of displayDataDetails()" >



  <img [src]="user.avatar" alt="Foto de perfil" class="img-fluid rounded-circle" style="max-width: 150px; height: auto;">



  <h2 class="mt-4">{{ user.name }}</h2>
  <p>{{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <button type="button" class="boton-verde d-block mx-auto mt-3" [routerLink]="['/menu/setting/0']">Editar perfil</button>
</div>

<div class="group" style="display: none;">
  <mat-button-toggle-group #colorToggle="matButtonToggleGroup"
                           value="accent"
                           aria-label="Change color">
    <mat-button-toggle value="accent">Accent</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="group" style="display: none;">
  <mat-button-toggle-group #backgroundColorToggle="matButtonToggleGroup"
                           value="primary"
                           aria-label="Change color">
    <mat-button-toggle value="primary">Primary</mat-button-toggle>
  </mat-button-toggle-group>
</div>

  <mat-tab-group class="mt-5 pestañas" [color]="colorToggle.value" [backgroundColor]="backgroundColorToggle.value">
  <mat-tab label="Publicaciones">
    <ng-template mat-tab-label>
      <span>Publicaciones</span>
    </ng-template>
    <p>Publicaciones</p>
    <p>Publicaciones</p>
    <p>Publicaciones</p>
    <p>Publicaciones</p>
    <p>Publicaciones</p>
    <p>Publicaciones</p>
    <p>Publicaciones</p>
    <p>Publicaciones</p>

  </mat-tab>

  <mat-tab label="Pestaña 2">
    <ng-template mat-tab-label>
      <span>Seguidos</span>
    </ng-template>
    <p>Info de seguidos</p>
    <p>Info de seguidos</p>
    <p>Info de seguidos</p>
    <p>Info de seguidos</p>
    <p>Info de seguidos</p>
    <p>Info de seguidos</p>
    <p>Info de seguidos</p>
    <p>Info de seguidos</p>
  </mat-tab>

  <mat-tab label="Pestaña 3">
    <ng-template mat-tab-label>
      <span>Seguidores</span>
    </ng-template>
    <p>Info de seguidores</p>
    <p>Info de seguidores</p>
    <p>Info de seguidores</p>
    <p>Info de seguidores</p>
    <p>Info de seguidores</p>
    <p>Info de seguidores</p>
    <p>Info de seguidores</p>
    <p>Info de seguidores</p>
  </mat-tab>
