
<div class="body">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 bg-white rounded p-4">
        <header class="text-center mb-4">
          <img class="logop" src="/assets/images/medios-de-comunicacion-social.png" alt="logo" />
        </header>

        <div class="text-center mb-4">
          <img class="w-1/3 md:w-1/3 sm:w-1/3" src="/assets/images/social-app-low-resolution-logo-color-on-transparent-background 7.png" alt="logo" />
        </div>

        <div class="text-center mt-4">
          <button type="submit" class="w-40 bg-transparent border-none">
            <img src="/assets/images/btn_google_signin_light_normal_web.png" alt="Google" class="w-40" />
          </button>
        </div>

        <div class="text-center mt-4">
          <h3 class="text-sm">o</h3>
          <h3 class="font-semibold text-xs">Crea tu cuenta</h3>
        </div>

        <form [formGroup]="form" class="formulario">
          <div class="email">
            <mat-form-field>
              <input formControlName="email" placeholder="Ingresa tu correo" matInput type="email" required>
              <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">El correo es obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="name" placeholder="Nombre" matInput type="text" required>
              <mat-error *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">El nombre es obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="username" placeholder="Nombre de usuario" matInput type="text" required>
              <mat-error *ngIf="form.get('username')?.hasError('required') && form.get('username')?.touched">El nombre de usuario es obligatorio.</mat-error>
            </mat-form-field>
            <div class="inputFormDiv">
              <mat-form-field>
                <input formControlName="password" placeholder="Contraseña" [type]="!hide ? 'password' : 'text'" matInput type="password" required>
                <button mat-icon-button matSuffix type="button" color="primary" class="btnEye" (click)="hide = !hide">
                  <i [ngClass]="{'fa fa-eye-slash':!hide, 'fa-solid fa-eye btn-eye':hide}"></i>
                </button>
                <mat-error *ngIf="form.get('password')?.hasError('required')">La contraseña es obligatoria.</mat-error>
              </mat-form-field>
 <div class="principal">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-4 bg-white rounded p-4">
          <header class="text-center mb-4 md:w-1/6">
            <img class="logop" src="/assets/images/medios-de-comunicacion-social.png" alt="logo" />
          </header>

          <div class="text-center mb-4">
            <img class="w-1/3 md:w-1/4 sm:w-1/3" src="/assets/images/social-app-low-resolution-logo-color-on-transparent-background 7.png" alt="logo" />
          </div>

          <div class="text-center mt-2">
            <button type="submit" class="w-40 bg-transparent border-none">
              <img src="/assets/images/btn_google_signin_light_normal_web.png" alt="Google" class="w-40" />
            </button>
          </div>

          <div class="text-center mt-2">
            <p class="text-sm">o</p>
            <h3 class="font-semibold text-xs">Crea tu cuenta</h3>
          </div>

          <form [formGroup]="form">
            <div>
              <mat-form-field class>
                <input formControlName="name" placeholder="Nombre" matInput type="text" required>
                <mat-error *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">El nombre es obligatorio.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="lastname" placeholder="Apellido" matInput type="text" required>
                <mat-error *ngIf="form.get('lastname')?.hasError('required') && form.get('lastname')?.touched">El apellido es obligatorio.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="email" placeholder="Ingresa tu correo" matInput type="email" required>
                <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">El correo es obligatorio.</mat-error>
                <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">El correo no es válido.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="username" placeholder="Nombre de usuario" matInput type="text" required>
                <mat-error *ngIf="form.get('username')?.hasError('required') && form.get('username')?.touched">El nombre de usuario es obligatorio.</mat-error>
              </mat-form-field>
              <div class="inputFormDiv">
                <mat-form-field>
                  <input formControlName="password" placeholder="Contraseña" [type]="!hide ? 'password' : 'text'" matInput type="password" required>
                  <button mat-icon-button matSuffix type="button" color="primary" class="btnEye" (click)="hide = !hide">
                    <i [ngClass]="{'fa fa-eye-slash':!hide, 'fa-solid fa-eye btn-eye':hide}"></i>
                  </button>
                  <mat-error *ngIf="form.get('password')?.hasError('required')">La contraseña es obligatoria.</mat-error>
                </mat-form-field>
              </div>
            </div>
          <button type="submit" class= "boton-verde d-grid gap-2 col-6 mx-auto">REGÍSTRATE</button>
        </form>

        <div class="mt-4 condiciones">
          <p>
            Al hacer clic en "Regístrate", aceptas nuestras Condiciones, Política de privacidad y Política de cookies.
          </p>
        </div>
        <div class="mt-2 text-center">
          <h4 class="text-sm" style="display: inline; margin-right: 5px">¿Ya tienes cuenta?</h4>
          <a href="#" style="display: inline">Entra</a>
        </div>

        <div class="text-center mt-4">
          <h5 class="text-xs">Descarga la aplicación</h5>
          <button type="button" class="w-35 bg-transparent border-none mx-auto">
            <img src="/assets/images/disponible-en-google-play-badge.svg" alt="googlePlay" class="w-32" />
          </button>
          <div class="text-center mt-2">
            <h5 class="text-xs">Descarga la aplicación</h5>
            <button type="button" class="bg-transparent border-none mx-auto">
              <img src="/assets/images/disponible-en-google-play-badge.svg" alt="googlePlay" class="w-32" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
