.body {
  background: rgb(212, 221, 212);
}

.condiciones {
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.boton-verde {
  background-color: #97B592;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


.mat-error {
  color: red;
  font-size: 12px;
}

.logop {
  width: 100px;
  height: auto;
}

.googleSign, .googlePlay {
  border: none;
}

.googlePlay img {
  width: 80px;
  height: auto;
}
.border-none {
  border: none;
}
.btnEye{
  border: none;
  color: rgb(104, 104, 104);
}
