<div class="container my-4 custom-container">
  <div class="row">
    <div class="col-md-4 photo d-flex flex-column align-items-center">
      <img src="./assets/images/blank-profile-picture-973460_640.png" alt="Foto de perfil"
        class="img-fluid img-movil rounded-circle" style="max-width: 300px; max-height: 300px;">
      <button class="boton-verde d-grid gap-2 col-6 mx-auto mt-4" (click)="cambiarFoto()">Cambiar Foto</button>
    </div>
    <div class="col-md-8">
      <mat-tab-group #tabGroup>
        <mat-tab label="tab1">
          <ng-template mat-tab-label>
            <span>Perfil</span>
          </ng-template>
          <app-perfil-setting></app-perfil-setting>
        </mat-tab>

        <mat-tab label="tab2">
          <ng-template mat-tab-label>
            <span>Publicaciones Guardadas</span>
          </ng-template>
          <app-publicaciones-guardadas-setting></app-publicaciones-guardadas-setting>
        </mat-tab>

        <mat-tab label="tab3">
          <ng-template mat-tab-label>
            <span>Configuración y privacidad</span>
          </ng-template>
          <app-configuracion-setting></app-configuracion-setting>
        </mat-tab>

        <mat-tab label="tab4">
          <ng-template mat-tab-label>
            <span>Ayuda y soporte</span>
          </ng-template>
          <p>Contenido de la Pestaña 4</p>
        </mat-tab>
        <app-ayudaysoporte-setting></app-ayudaysoporte-setting>
      </mat-tab-group>

    </div>
  </div>
</div>
