<div class="container my-4">
  <div class="row">
    <div class="col-md-4">
      <img src="./assets/images/blank-profile-picture-973460_640.png" alt="Foto de perfil" class="img-fluid rounded-circle">
      <button class="boton-verde d-grid gap-2 col-6 mx-auto mt-4" (click)="cambiarFoto()">Cambiar Foto</button>
    </div>
    <div class="col-md-8">
      <h2>Información de Perfil</h2>
      <form >
        <div >
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" formControlName="name" >
        </div>
        <div >
          <label for="apellido">Apellido:</label>
          <input type="text" class="form-control" id="apellido"formControlName="lastname">
        </div>
        <div >
          <label for="usuario">Nombre de Usuario:</label>
          <input type="text" class="form-control" id="usuario" formControlName="username">
        </div>
        <div >
          <label for="contrasena">Contraseña:</label>
          <input type="password" class="form-control" id="contrasena" formControlName="password">
        </div>
        <div >
          <label for="fechaNacimiento">Fecha de Nacimiento:</label>
          <input type="date" class="form-control" id="fechaNacimiento" formControlName="birthdate">
        </div>
        <div >
          <label for="telefono">Teléfono:</label>
          <input type="tel" class="form-control" id="telefono" formControlName="phone">
        </div>
        <button type="submit" class="boton-verde d-grid gap-2 col-6 mx-auto mt-4">Guardar Cambios</button>
      </form>
    </div>
  </div>
</div>
