
.body {
  background: rgb(212, 221, 212);
}
.principal {
  background: #d8e9d6;
}

.condiciones {
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.policy{
color: #888
}

.boton-verde {
  background-color: #97B592;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.boton-verde:hover {
  background-color: #357a38;
}

.logop {
  width: 100px;
  height: auto;
}

.googleSign, .googlePlay {
  border: none;
}

.googlePlay img {
  width: 40px;
  height: auto;
}
.border-none {
  border: none;
}
.btnEye{
  border: none;
  color: rgb(104, 104, 104);
}
.formulario {
  margin: 2px;
}
.error {
  border-color: red;
}

/* Estilo para el mensaje de éxito */
.success-message {
  background-color: green;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
}

/* Estilo para el mensaje de error */
.error-message {
  background-color: red;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
}
.mat-icon{
  color:'red';
  margin-left: 20px;
}