<p>Perfil</p>
<form>
  <div class="form-group mb-3">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" id="nombre">
  </div>
  <div class="form-group mb-3">
    <label for="apellido">Apellido:</label>
    <input type="text" class="form-control" id="apellido">
  </div>
  <div class="form-group  mb-3">
    <label for="usuario">Nombre de Usuario:</label>
    <input type="text" class="form-control" id="usuario">
  </div>
  <div class="form-group mb-3">
    <label for="contrasena">Contraseña:</label>
    <input type="password" class="form-control" id="contrasena">
  </div>
  <div class="form-group mb-3">
    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input type="date" class="form-control" id="fechaNacimiento">
  </div>
  <div class="form-group mb-3">
    <label for="telefono">Teléfono:</label>
    <input type="tel" class="form-control" id="telefono">
  </div>
  <div class="form-group mb-3">
    <label for="intereses">Intereses:</label>
    <input type="text" class="form-control" id="intereses">
  </div>
  <button type="submit" class="boton-verde d-grid gap-2 col-6 mx-auto mt-4">Guardar Cambios</button>
</form>
