<div class="login-container">
  <h1>Bienvenidos</h1>
  <form>
    <div class="email">
      <label>Correo</label>
      <input type="email" id="email" formControlName="email" />
      <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
        El correo es obligatorio.
      </div>
    </div>
    <div class="password">
      <label>Contraseña</label>
      <input type="password" id="password" formControlName="password" />
      <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
      La contraseña es obligatoria.
  </div>
    </div>
    <button type="submit">Iniciar sesión</button>
  </form>
</div>
