.loginPrincipal{
  display: flex;
  height: 100vh;
  --bs-gutter-x: 0rem;
}

.logo{
  width: 11%;
  margin-left: 35%;
}

.bienvenidos{
  text-align: center;
  margin-top: 10%;
}

.indicadores{
  width: 55%;
}

.carousel-indicators button {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin: 2px;
}


.loginContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.styleImagen{
  height: 100vh;

}

.btn-eye{
  width: 2%;
}

.botonIniciarSesion{
    margin-left: 0;
    width: 100%;
    background-color:#97B592;
    border: 0;
    margin-top: 1%;
    padding: 9px;
    border-radius: 10px;
}

.btnEye{
  margin: 0;
}

.containerFormulario{
  width: 45%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.formulario{
  width: 100%;
  margin: 0 13%;
}

.o-iniciarSesion{
  margin: 8%;
  text-align: center;
  font-size: 80%;
  color: rgb(185, 185, 185);
}

