<div class="container my-4 custom-container">
  <div class="row">
    <div class="col-md-4 photo d-flex flex-column align-items-center">
  <img [src]="imageUrl" alt="Foto de perfil">
        <input type="file" #fileInput (change)="onFileSelected($event)">
        <button class="boton-verde d-grid gap-2 col-6 mx-auto mt-4" (click)="uploadProfilePicture()">Cambiar Foto</button>
    </div>

    <div class="col-md-8">
      <mat-tab-group color="warn" #tabGroup>
        <mat-tab class="word-break">
          <ng-template mat-tab-label>
            <span style="font-weight: bold;">Perfil</span>
          </ng-template>
          <app-perfil-setting></app-perfil-setting>
        </mat-tab>

        <mat-tab class="word-break">
          <ng-template mat-tab-label>
            <span style="font-weight: bold;">Publicaciones<br>guardadas</span>
          </ng-template>
          <app-publicaciones-guardadas-setting></app-publicaciones-guardadas-setting>
        </mat-tab>
        <mat-tab class="word-break">
          <ng-template mat-tab-label>
            <span style="font-weight: bold;">Configuración<br>y<br>privacidad</span>
          </ng-template>
          <app-configuracion-setting></app-configuracion-setting>
        </mat-tab>

        <mat-tab class="word-break">
          <ng-template mat-tab-label>
            <span style="font-weight: bold;">Ayuda<br>y<br>soporte</span>
          </ng-template>
        </mat-tab>
        <app-ayudaysoporte-setting></app-ayudaysoporte-setting>
      </mat-tab-group>

    </div>
  </div>
</div>
