.btn-flotante {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #19530f;
  padding: 12px 104px;
  /* position: fixed;
  bottom: 24px;
  right: 0px;
  transition: all 300ms ease 0ms; */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  /* z-index: 99; */
  text-decoration: none;
}
.btn-flotante:hover {
	background-color: #487440; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

.Container{
  background-color: ghostwhite;
  /* bottom: 19px;
  padding: 10px;
  border: 0.5px solid green;
  position: fixed;
  margin-left: 51em; */
}
.chatContainer {
  padding: 30px;
  width: 100%;
  height: max-content;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  background-color: ghostwhite;
}

.local {
  padding: 20px;
  border-radius: 20px;
  background-color: darkcyan;
  max-width: 80%;
  color: white;
  font-size: 17px;
  align-self: flex-start;
}

.remoto {
  padding: 20px;
  border-radius: 20px;
  background-color: darkkhaki;
  max-width: 80%;
  color: white;
  font-size: 17px;
  align-self: flex-end;
}

.inputContainer{
  background-color: ghostwhite;
  bottom: 19px;
  padding: 10px;
}

input{
  width: 100%;
}

@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}

