<p>Perfil</p>
<form [formGroup]="formGroup" >

  <div class="form-group mb-3">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <div class="form-group mb-3">
    <label for="apellido">Apellido:</label>
    <input type="text" class="form-control" id="lastname" formControlName="lastname">
  </div>
  <div class="form-group  mb-3">
    <label for="usuario">Nombre de Usuario:</label>
    <input type="text" class="form-control" id="username" formControlName="username">

  </div>

  <div class="form-group mb-3">
    <label for="correo">Correo Electrónico:</label>
    <input type="email" class="form-control" id="email" formControlName="email">
  </div>

  <div class="form-group mb-3">
    <label for="password">Contraseña:</label>
    <input type="password" class="form-control" id="password" formGroupName="password">
  </div>


  <div class="form-group mb-3">
    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input type="date" class="form-control" id="dateBirth" formArrayName="dateBirth">
  </div>

  <div class="form-group mb-3">
    <label for="telefono">Teléfono:</label>
    <input type="tel" class="form-control" id="phone" formArrayName="phone">
  </div>

  <button type="submit" (click)="submitForm()" class="boton-verde d-grid gap-2 col-6 mx-auto mt-4">Guardar Cambios</button>
</form>
