<div class="row container-noticias">
  <div class="col-md-2 sugerencias col-lg-2 col-xl-2 d-none d-md-block">
    <p>Sugerencias</p>
    <div class="container-img">
      <img src="/assets/images/blank-profile-picture-973460_640.png" alt="imgprofile" class="imageProfile">
      <div>
        <p (click)="perfil()"><b>Usuario2</b> Usuario2 </p>
        <p class="hours">2h</p>
      </div>
    </div>
    <div class="container-img">
      <img src="/assets/images/blank-profile-picture-973460_640.png" alt="imgprofile" class="imageProfile">
      <div>
        <p (click)="perfil()"><b>Usuario2</b> Usuario2 </p>
        <p class="hours">2h</p>
      </div>
    </div>
    <div class="container-img">
      <img src="/assets/images/blank-profile-picture-973460_640.png" alt="imgprofile" class="imageProfile">
      <div>
        <p (click)="perfil()"><b>Usuario2</b> Usuario2 </p>
        <p class="hours">2h</p>
      </div>
    </div>
    <div class="container-img">
      <img src="/assets/images/blank-profile-picture-973460_640.png" alt="imgprofile" class="imageProfile">
      <div>
        <p (click)="perfil()"><b>Usuario2</b> Usuario2 </p>
        <p class="hours">2h</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8 noticias">
    <p>Últimas noticias</p>
    <div class="collapse navbar-collapse inicio" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
        <li class="nav-item dropdown notificaciones">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Notificaciones
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Notificación 1</a></li>
            <li><a class="dropdown-item" href="#">Notificación 2</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Notificación 3</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="noticiasPrincipales">
      <div>
        <img src="/assets/images/blank-profile-picture-973460_640.png" alt="imgprofile" class="imgProfile">
      </div>
      <div class="subNotificaciones">
    <div class="row">
    <div class="avatar-container col-2">
      <img src="/assets/images/blank-profile-picture-973460_640.png" alt="imgprofile" class="avatar">
    </div>
    <div class="noticiasPrincipales col-10">

      <div class="col-md-8 subNotificaciones">

        <div class="perfil-info">
        <p (click)="perfil()"><b>Usuario</b> Usuario </p>
        <p class="hours">3h</p>
        <p>#Vacaciones</p>
        <p class="music"><i class="fa-solid fa-music music"></i> Somewhere Over The Rainbow</p>
        <img src="/assets/photo-usuario.jpeg" alt="photo-id" class="photo-id">
        <div>
          <i class="fa-regular fa-heart heart"></i>
          <span class="like">100 Me gusta</span>
          <i class="fa-regular fa-comment comment"></i>
          <span class="like">100 Me gusta</span>
          <i class="fa-regular fa-star star"></i>
          <span class="like">2</span>
          <i class="fa-solid fa-share share"></i>
          <span class="like">3</span>
          <i class="fa-regular fa-bookmark bookmark"></i>
          <span class="like">1</span>
          <hr>
          <span class="like">Ver más comentarios...</span>
          <hr>
          <div class="container-img">
            <img src="/assets/images/blank-profile-picture-973460_640.png" alt="imgprofile" class="imageProfile">
            <div>
              <p (click)="perfil()"><b>Usuario2</b> Usuario2 </p>
              <p class="hours">2h</p>
            </div>
          </div>
          <img src="/assets/emoji.png" alt="emoji" class="emoji">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="col-md-2 chat col-lg-2 col-xl-2 d-none d-md-block">
    <p>Chat</p>
  </div>
</div>
