<div class="row container-noticias">
  <div class="col-md-2 sugerencias">
    <p>Sugerencias</p>

  </div>
  <div class="col-md-8 noticias">
    <p>Últimas noticias</p>
    <div>
      <img src="/assets/images/blank-profile-picture-973460_640.png" alt="imgprofile" class="imgprofile">
      <p class="id"><b>Usuario</b> Usuario </p>
      <h6 class="hours">3h</h6>
      <p></p>
      <img src="/assets/photo-usuario.jpeg" alt="photo-id" class="photo-id">
    </div>
  </div>
  <div class="col-md-2 chat">
    <p>Chat</p>
  </div>
</div>
