
.container-noticias{
  text-align: center;
  border-color: 1px solid,
}

.sugerencias{
 background-color: #90dd8350;
 height: 100vh;
 border-right: 1px solid #bce7b5e3;
 border-top: 1px solid #bce7b5e3;
 border-bottom: 1px solid #bce7b5e3;
 font-size: 17px;
}

.noticias{
  font-size: 17px;
  height: 100vh;
  padding: 0;
  border-right: 1px solid #bce7b5e3;
  border-top: 1px solid #bce7b5e3;
}

/* css noticas */
.noticiasPrincipales{
  overflow: auto;
  height: 90vh;
}

.subNotificaciones{
  width: 65%;
  margin: auto;
  text-align: left;
}

.subNotificaciones p{
  margin: 0.1em;
}

.photo-id{
  width: 100%;
  border-radius: 8px;
}

.imgProfile{
  position: absolute;
  width: 70px;
  left: 15em;
  border-radius: 50%;
}

.nombUsu{
  color: rgb(185, 185, 185);
}

.chat{
  height: 100vh;
  border-right: 1px solid #bce7b5e3;
  border-top: 1px solid #bce7b5e3;
}

h2{
  border-bottom: 1px solid #bce7b5e3;
}

.hours{
  color: rgb(185, 185, 185);
}

.music{
  color: rgb(151, 149, 149);
  margin: 0em 0 0.5em 0em !important;
}

.heart{
  font-size: 21px;
  padding-top: 0.5em;
  color: rgb(185, 185, 185);
}

.like{
  margin-left: 0.5em;
  color: rgb(185, 185, 185);
}

.comment{
  font-size: 20px;
  margin-left: 1em;
  color: rgb(185, 185, 185);
}

.star{
  margin-left: 9em;
  color: rgb(185, 185, 185);
}

.share{
  margin-left: 0.5em;
  color: rgb(185, 185, 185);
}

.bookmark{
  margin-left: 0.5em;
  color: rgb(185, 185, 185);
}

hr{
margin: 0.5em;
}

.imageProfile{
  width: 50px;
  left: 15em;
  border-radius: 50%;
}

.container-img{
  display: flex;
  margin: 1em;
}

.emoji{
  width: 50px;;

}
